<header>
    <h1>{{mainCtrl.applicationName}} // {{mainCtrl.controller}} </h1>
</header>
<section>
    <div class="image-container">
        <img src="/images/yeoman.png" />
    </div>
    <div class="text-container">
        <h3>Angular ES6 Webpack Application</h3>
        <p>With a little help from <a href="https://yeoman.io">Yeoman</a></p>
    </div>
    
    <hr />

    <button class="btn btn-primary"
    ng-click="mainCtrl.error()"
    >throw!</button>

    <button class="btn btn-primary"
    ng-click="mainCtrl.error()"
    ng-click-if="true"
    >throw!</button>

    <button class="btn btn-primary"
    ng-click="mainCtrl.error()"
    ng-click-if="false"
    >do not throw!</button>

    <hr />

    <h1>Seed testing</h1>

    <ul>
      <li><a ui-sref="busy.busy1">State Busy test</a></li>
      <li><a ui-sref="redirect.redirect1">Redirect test</a></li>
      <li><a ui-sref="selectValue">selectValue test</a></li>
      <li><a ui-sref="errorHanling">Error Hanling test</a></li>
    </ul>
</section>
