<header>
    <h1>{{mainCtrl.applicationName}}</h1>
</header>
<section>
    <div class="image-container">
        <img src="/images/yeoman.png" />
    </div>
    <div class="text-container">
        <h3>Angular ES6 Webpack Application</h3>
        <p>With a little help from <a href="https://yeoman.io">Yeoman</a></p>
    </div>
    <button class="btn btn-primary"
    ng-click="mainCtrl.error()"
    >throw!</button>

    <button class="btn btn-primary"
    ng-click="mainCtrl.error()"
    ng-click-if="true"
    >throw!</button>

    <button class="btn btn-primary"
    ng-click="mainCtrl.error()"
    ng-click-if="false"
    >do not throw!</button>
</section>
